[*.cs]

# IDE0022: 使用方法的程序块主体
csharp_style_expression_bodied_methods = true

# IDE0008: 使用显式类型
csharp_style_var_elsewhere = true

# IDE0008: 使用显式类型
csharp_style_var_for_built_in_types = true

# IDE0008: 使用显式类型
csharp_style_var_when_type_is_apparent = true

# IDE0058: 永远不会使用表达式值
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0058: 永远不会使用表达式值
dotnet_diagnostic.IDE0058.severity = none

# IDE0011: 添加大括号
csharp_prefer_braces = when_multiline

# CA1816: Dispose 方法应调用 SuppressFinalize
dotnet_diagnostic.CA1816.severity = none
